body {
    background-color: black;
    color: whitesmoke;

    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    font-size: 28px;
    text-align: center;
}

#cookie {
    font-size: 28px;
    padding: 10px, 20px;
}

#mobile-mode:checked ~ #cookie {
    font-size: 96px;
    padding: 40px 80px;
}
